.header-container, 
.logo, .logo-name,
.nav-menu,
.shop-nav-auth {
    display: flex;
}

.nav-list a:hover {
    color: white
}

.nav-list a.active{
    border-bottom: 2px dashed #f2eded;
    padding-bottom: 3px;
}

.header-container {
    height: 80px;
    width: 100%;
    flex-direction: row;
    border: 3px solid rgb(0, 0, 0);
    background-color: #1f1e1e;
}

.logo img{
    width: 60px;
    height: 60px;
}

.logo {
    align-items: center;
}

.name {
    font-size: 40px;
}

.logo-name {
    flex-direction: row;
    justify-content: space-around;
    width: 20%;
    align-items: center;
}

.nav-menu {
    align-items: center;
    margin: 0 auto;
}

.nav-list {
    list-style-type: none;
}

.nav-list li {
    display: inline;
    margin: 0 30px;
    font-size: 23px;
}

.shop-nav-auth {
    width: 20%;
}

.circle-cart {
    width: 70px;
    height: 70px;
    margin: auto;
    border-radius: 50%;
    background-color: #444040;
    text-align: center;

}

.circle-cart img {
    width: 40px;
    height: 40px;
    margin-top:  12px;
}

@media (max-width: 1900px) {
	.header-container, .logo-name {
        flex-direction: column;
    }

    .header-container {
        height: 350px;
    }

    .logo img {
        margin: 20px 0;
        width: 100px;
        height: 100px;
    }

    .logo-name {
        width: 100%;
        margin-bottom: 20px;
    }

    .shop-nav-auth {
        width: 100%;
        margin: 20px 0;
    }
}